[submodule "vendor/yuicompressor"]
	path = vendor/yuicompressor
	url = git://github.com/yui/yuicompressor.git
[submodule "vendor/cssembed"]
	path = vendor/cssembed
	url = git://github.com/nzakas/cssembed.git
[submodule "vendor/closure-stylesheets"]
	path = vendor/closure-stylesheets
	url = https://code.google.com/p/closure-stylesheets/
